% Configuration for Network Simulator
% ===================================
% @author Seppi

% general configurations
% ----------------------
# port for master peer
port=5000

% runtime configurations
% ----------------------
# runtime of simulation, '-1' for endless runtime
runtimeInMilliseconds=-1
# number of puts, '-1' for endless execution
numPuts=500

% replication configurations
% --------------------------
# type of replication 'off', '0Root', 'nRoot'
replicationStrategyName=nRoot
# size of replica set (maximal '6')
replicationFactor=6
# replication frequency
replicationIntervalInMilliseconds=1000

% network size configurations
-----------------------------
# lower bound of churn
numPeersMin=5
# upper bound of churn
numPeersMax=200
# maximal amount of versions
maxVersions=5

% churn configurations
% --------------------
# max num of peers allowed to join at once
churnRateJoin=5
# max num of peers allowed to leave at once
churnRateLeave=5
# choose between 'off', 'stepwise', 'stepwiseRandom', 'wild'
churnStrategyName=off
# ratio between join/leave churn events
churnJoinLeaveRate=0.5
# min delay between two churn events
churnRateMinDelayInMilliseconds=1500
# max delay between two churn events
churnRateMaxDelayInMilliseconds=2000

% time-to-live configurations
% ---------------------------
# frequency to check storage for expired data
ttlCheckIntervalInMilliseconds=1000
# time to live of confirmed and stored data
putTTLInSeconds=10
# time to live of prepared data
putPrepareTTLInSeconds=1

% put configurations
% ------------------
# kind of putting 'optimistic', 'pessimistic', 'traditional' or 'traditionalVersion'
putStrategyName=pessimistic
# number of peers putting with the same key
putConcurrencyFactor=2
# max delay between two put tasks
putDelayMaxInMilliseconds=600
# min delay between two put tasks
putDelayMinInMilliseconds=1200