% Configuration for Network Simulator
% ===================================
% @author Seppi

% general configurations
% ----------------------
# port for master peer
port=5000
# type of replication 'off', 'root', 'nRoot'
replication=nRoot
# kind of putting 'optimistic', 'pessimistic' or 'traditional'
putApproach=traditional
# runtime of simulation
runtimeInMilliseconds=10000

% churn configurations
% --------------------
# lower bound of churn
numPeersMin=80
# upper bound of churn
numPeersMax=100
# max num of peers allowed to join at once
churnRateJoin=5
# max num of peers allowed to leave at once
churnRateLeave=5
# choose between 'off', 'stepwise', 'stepwiseRandom', 'wild'
churnStrategyName=stepwiseRandom
# ratio between join/leave churn events
churnJoinLeaveRate=0.5
# min delay between two churn events
churnRateMinDelayInMilliseconds=500
# max delay between two churn events
churnRateMaxDelayInMilliseconds=1000

% put configurations
% ------------------
# number of put tasks / unique keys
numKeys=1
# number of puts, '-1' for endless execution
numPuts=100
# number of peers putting with the same key
putConcurrencyFactor=2
# max delay between two put tasks
putDelayMaxInMilliseconds=100
# min delay between two put tasks
putDelayMinInMilliseconds=200
