% Configuration for Network Simulator
% ===================================
% @author Seppi

% general configurations
% ----------------------
# port for master peer
port=5000
# bootstrap IP address (for no bootstrap 'local')
bootstrapIP=local
# bootstrap port (for no bootstrap '-1' )
bootstrapPort=-1

% runtime configurations
% ----------------------
# runtime of simulation, '-1' for endless runtime 
runtimeInMilliseconds=-1
# number of puts, '-1' for endless execution
numPuts=-1

% replication configurations
% --------------------------
# type of replication 'off', '0Root', 'nRoot'
replicationStrategyName=nRoot
# size of replica set (maximal '6')
replicationFactor=6
# replication frequency
replicationIntervalInMilliseconds=500

% network size configurations
-----------------------------
# lower bound of churn
numPeersMin=15
# upper bound of churn
numPeersMax=25
# maximal amount of versions
maxVersions=10

% churn configurations
% --------------------
# max num of peers allowed to join at once
churnRateJoin=2
# max num of peers allowed to leave at once
churnRateLeave=2
# choose between 'off', 'stepwise', 'stepwiseRandom', 'wild'
churnStrategyName=stepwiseRandom
# ratio between join/leave churn events
churnJoinLeaveRate=0.5
# min delay between two churn events
churnRateMinDelayInMilliseconds=1000
# max delay between two churn events
churnRateMaxDelayInMilliseconds=1500

% time-to-live configurations
% ---------------------------
# frequency to check storage for expired data
ttlCheckIntervalInMilliseconds=500
# time to live of confirmed and stored data
putTTLInSeconds=-1
# time to live of prepared data
putPrepareTTLInSeconds=1

% put configurations
% ------------------
# kind of putting 'optimistic', 'pessimistic', 'traditional' or 'traditionalVersion'
putStrategyName=optimistic
# number of peers putting with the same key
putConcurrencyFactor=2
# max delay between two put tasks
putDelayMaxInMilliseconds=1000
# min delay between two put tasks
putDelayMinInMilliseconds=1500