# port number for master peer
port=5000

# runtime of simulation
runtimeInMilliseconds=60000

# churn strategy [stepwise, stepwiseRandom, wild]
churnStrategyName=wild
# minimal amount of peers in network
numPeersMin=800
# maximal amount of peers in network
numPeersMax=1000
# num of peers joining at once
churnRateJoin=10
# num of peers leaving at once
churnRateLeave=10
# ratio between join and leave churn events
churnJoinLeaveRate=0.5
# frequency of churn events (join/leave)
churnRateDelayInMilliseconds=500

# num of different keys / putting jobs
numKeys=1
# maximal delay between two put events
putDelayMaxInMilliseconds=2000
# minimal delay between two put events
putDelayMinInMilliseconds=500
